    
    /*bodyの部分*/
    
    .body {
        background: #e9e9e9;
        color: #5e5e5e;
        font: 400 87.5%/1.5em 'Open Sans', sans-serif;
    }
    /*後ろの白い四角い箱*/
    
    .MyPageConfig_back_ground {
        position: relative;
        background: #fafafa;
        margin: 50px auto;
        padding: 15px 50px 10px;
        max-width: 1000px;
        height: auto;
        /*幅*/
    }
    /*大見出し*/
    
    h2{
        text-align: center;
        padding: 1em 0;
    }
    /*リストの幅、設定*/
    
    form {
        padding: 0 1.5em;
    }
    /*投稿の注意事項の枠組みなど*/
    
    .MyPageConfig_post_details {
        padding: 10px;
        border: 2px solid #928383;
    }
    /*文字の左側の余白指定*/
    
    
    /*buttonの設定*/
    .Mypage_post_button_fream {
        position: relative;
        margin-top: 50px;
       
        height: 80px;
        width: 100%;
        right: 1em;
    }
    
    .Mypage_post_button_rightfream {
        position: absolute;
        height: 100%;
        width: 40%;
        right: 1em;
    }
    
    .Mypage_post_button_leftfream {
        position: absolute;
        height: 100%;
        width: 40%;
        left: 1em;
    }
    
    .Mypage_Config_rightbutton {
        border: none;
        background: rgb(248, 156, 248);
    }
    
    .Mypage_Config_rightbutton:hover {
        border: none;
        background: rgb(250, 0, 250);
    }
    
    .Mypage_Config_rightbutton p {
        border: none;
        color: white;
        font-size: 2em;
    }
    
    .Mypage_Config_leftbutton {
        border: none;
        font-size: 2em;
    }
    
    .Mypage_Config_leftbutton:hover {
        border: none;
        border: solid 2px #c0c0c0;
    }
    /*buttonの設定ここまで*/
    .Mypage_Posted_MusicBox {
        
        margin:50px auto;
        height: auto;
        /*表の高さ*/
        width: 100%;
    }
        
        .Mypage_Posted_MusicBox_Table {
            border-collapse: collapse;
            /*表ボーダー二重線解除*/
            margin:0px auto;
            width: 80%;
        }
   
        .Mypage_Posted_MusicBox_Table tr * {
            border: solid 2px #c0c0c0;
           
            
           
            
        }    
    
    
    
    
    
    .Mypage_Posted_MusicBox_Tabletitle1{
        width: 50%;
    }
    .Mypage_Posted_MusicBox_Tabletitle2{
        width: 50%;
        height:3em;
    }
    .Mypage_Posted_MusicBox_Tabletitle3{
        width: 50%;
        height:3em;
    }
    .Mypage_Posted_MusicBox_Tabletitle4{
        width: 50%;
        height:3em;
    }
    .Mypage_Posted_MusicBox_Tabletitle5{
        width: 50%;
        height:3em;
    }
    
    .Mypage_Posted_MusicBox_Tableyouso {
        width: 50%;
    }
    