
 body {
  margin: 0 ;
  padding: 0 ;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
  padding-top: 90px;
}
/*ヘッダ-----------------------------------------------*/
  header{
  top: 0;/*画面topからの距離*/
  width: 100%;/*サイドの幅*/
  height: 100px;/*ヘッダの上下幅*/
background-color: white;/*色*/
position: fixed;/*ヘッダ固定*/
display: flex;/*header直下の子要素のレイアウトをコントロール*/
  align-items :center; /*要素の縦方向の位置　center＝中心*/
  z-index: 9999;
  }
  /*ulのマネージ*/
 ul {
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 70px;
margin-inline-end: 70px;
padding-inline-start: 0px;
}
.header_logo {
      text-align: center;   
  }
  /*1ul・liリストタグの見た目*/
  .o nav{
  margin: 0 0 0 20ex;
  }
  .header_list1 {
      list-style:none;
      overflow: hidden;
  }
  .header_list1 li{
      width:140px;
      text-align: center;
      float: left;
  }
  .header_list1 a{
      text-decoration: none;
      font-weight: bold;
  }
   /*2ul・liリストタグの見た目*/
  .header_list2 {
      list-style:none;
      overflow: hidden;
      display: table;
  }
  .header_list2 li{
      margin: 0;
      width:100px;
      text-align: center;
      float: left;
  }
  .header_list2 a{
      text-decoration: none;
      font-weight: bold;
  }
  /*検索バー*/
  .search_container{
      position: relative;
      box-sizing: border-box;
      border: 2px solid #3879D9;
      padding: 3px 3px;
      border-radius: 3px;
      height: 2.3em;
      width: 300px;
      overflow: hidden;
  }
  .search_container input[type="text"]{
      border: none;
      height: 2.0em;
  }
  .search_container input[type="text"]:focus {
      outline: 0;
  }
  .search_container input[type="submit"]{
      cursor: pointer;
      font-family: FontAwesome;
      border: none;
      background: #3879D9;
      color: #fff;
      position: absolute;
      width: 3.0em;
      height: 3.0em;
      right:0px;
      top: -5px;
      outline : none;
  }
/*スライドショー*/
  .slideshow {
    position: relative;
    overflow: hidden;
  }
  input[name="slideshow"] {
    display: none;
  }

/* :::::: slideContents :::::: */
  .slideContents {
   display: flex; 
   position: relative;
   width: 500%;
   background: lightSeaGreen;
   text-align: center;
   -webkit-user-select: none;
   user-select: none;
   transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .slideContents section {
   width: 20%;
  }
  .slideContents section img {
   max-width: 100%;
   padding: 0 0px;
   box-sizing: border-box;
   vertical-align: middle;
  }

/* :::::: arrows :::::: */
  .arrow,
  .arrow label,
  .arrow .ico {
   position: absolute;
  }
  .arrow {
   top: 0;
   margin: 0;
   transition: background .3s;
  }
  .prev {
   left: 0;
  }
  .next {
   right: 0;
  }
  .arrow:hover {
   background: rgba(255,255,255,.2);
  }
  .arrow,
  .arrow label {
   cursor: pointer;
   width: 50px;
   height: 100%;
  }
  .arrow label {
   top: 0;
   left: 0;
   z-index: 1;
  }
  .arrow .ico {
   top: calc(50% - 6px);
   width: 12px;
   height: 12px;
   border-top: 3px solid #fff;
   opacity: 0;
  }
  .prev .ico {
   left: 50%;
   border-left: 3px solid #fff;
   transform: rotate(-45deg);
   transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
  }
  .next .ico {
   right: 50%;
   border-right: 3px solid #fff;
   transform: rotate(45deg);
   transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
  }
  .arrow:hover .ico {
   opacity: .6;
  }
  .prev:hover .ico {
   left: calc(50% - 6px);
  }
  .next:hover .ico {
   right: calc(50% - 6px);
  }

/* :::::: mechanism :::::: */
  #switch1:checked ~ .slideContents {
     transform: translateX(0);
  }
  #switch2:checked ~ .slideContents {
     transform: translateX(-20%);
  }
  #switch3:checked ~ .slideContents {
     transform: translateX(-40%);
  }
  #switch4:checked ~ .slideContents {
     transform: translateX(-60%);
  }
  #switch5:checked ~ .slideContents {
     transform: translateX(-80%);
  }

/* :::::: arrow mechanism :::::: */
  .arrow label {
   pointer-events: none;
  }
  #switch1:checked ~ .prev label[for="switch5"],
  #switch2:checked ~ .prev label[for="switch1"],
  #switch3:checked ~ .prev label[for="switch2"],
  #switch4:checked ~ .prev label[for="switch3"],
  #switch5:checked ~ .prev label[for="switch4"],
  #switch1:checked ~ .next label[for="switch2"],
  #switch2:checked ~ .next label[for="switch3"],
  #switch3:checked ~ .next label[for="switch4"],
  #switch4:checked ~ .next label[for="switch5"],
  #switch5:checked ~ .next label[for="switch1"] {
   pointer-events: auto;
  }



/*アイコン横並びスクロール*/
  .horizontal_scroll {
     overflow-x: scroll;
     -webkit-overflow-scrolling: touch;
   padding: 0 0 12px 8px;
   width: 300px;
   max-width: 100%;
     display: -ms-flexbox;
     display: flex; }

/* 画面幅が768px以上の場合、横スクロールを解除 */
 @media screen and (min-width: 768px) {
  .horizontal_scroll {
     overflow-x: inherit;
     padding: 0 8px 6px; } }

  .horizontal_scroll > li {
     width: 100%;
     min-width: 140px; }

 @media screen and (min-width: 768px) {
  .horizontal_scroll > li {
     min-width: inherit; } }

  .horizontal_scroll > li:not(:last-child) {
     margin-right: 5px; }

  .horizontal_scroll > li:last-child {
     padding-right: 5px; }

 @media screen and (min-width: 768px) {
  .horizontal_scroll > li:last-child {
     padding-right: 0; } }

  .horizontal_scroll img {
   vertical-align: bottom; }

/* タイトル */
/*.slider_ttl {
color: #333;
text-align: inherit;
width: 100%;
height: 20px;
line-height: 40px;
padding: 0px;
margin: 0 0 20px 0;
background-color: #e5e5e5;
text-indent: 8px;
font-size: 16px;
font-weight: 700;
box-sizing: border-box; }*/

  /* 順位 */
  .rank li {
   counter-increment: rank; 
}
  .rank li::before {
     content: counter(rank) "位";
     color: #bf0000;
     font-weight: 700;
   line-height: initial; 
}
  
  /* バンド名 */
  .bandname{
     color: #bf0000;
     line-height: 1.65;
     font-size: 13px;
   margin-top: 4px; 
}

/*称号*/
/*.bandname span::before {
content: '【殿堂入り】';
background:0 0;
color:#000;
}
*/
 .bandname span.rookie::before {
    content: 'ルーキー';
    display: inline-block;
    background:  #bf0000;
    color: #fff ;
    font-size: .45em;
    line-height: 1.25;
    vertical-align: middle;
    box-sizing: border-box;
  padding: .4em .4em; 
}

  /*字の大きさ*/
  .bandname small {
   font-size: .45em;
   color: #000;
   margin-right: .5em; 
}

/* アー写がない人たち */
  .rank a {
     background: #ccecff;
     display: block;
     width: 140px;
     height: 140px;
   position: relative; 
  }
  .rank a::after {
     content: "近日公開";
     color: #8dd4ff;
     font-size: 30px;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: auto;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-pack: center;
   justify-content: center;
}
/*ニュースバー*/
.msr_newslist01 {
border-top: 1px solid #AAAAAA;
width: 100%;
}
.msr_newslist01 li {
border-bottom: 1px solid #AAAAAA;
font-size: 14px;
}
.msr_newslist01 li a {
box-sizing: border-box;
color: #000000;
display: table;
padding: 10px;
text-decoration: none;
transition: 0.2s ease-in-out;
-o-transition: 0.2s ease-in-out;
-moz-transition: 0.2s ease-in-out;
-webkit-transition: 0.2s ease-in-out;
width: 100%;
}
.msr_newslist01 li a:hover {
background: #EEEEEE;
text-decoration: none;
}
.msr_newslist01 li div {
display: table-cell;
width: 144px;
}
.msr_newslist01 li p {
display: table-cell;
padding-left: 20px;
vertical-align: middle;
}

/* 時間の設定 */
.msr_newslist01 li time {
display: table-cell;
vertical-align: top;
width: 90px;
}

/* カテゴリの設定 */
.msr_newslist01 li .cat01,
.msr_newslist01 li .cat02 {
background-color: #1B73BA;
border-radius: 1px;
color: #FFFFFF;
font-size: 9px;
padding: 0 2px;
text-align: center;
width: 50px;
}
.msr_newslist01 li .cat02 {
background-color: #0E3A5F;
}
/*イベントBOX*/
.cp_card04 {
overflow: hidden;
border-radius: 3px;
margin-top: 2rem;
margin-bottom: 2rem;
margin-left: auto;
margin-right: auto;
position: relative;
background-color: #fff;
-webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
transition: all 0.25s ease-in;
border-bottom: 5px solid transparent;
}
.cp_card04 .photo {
height: 200px;
overflow: hidden;
}
.cp_card04:hover {
-webkit-transform: translateY(-5px);
transform: translateY(-5px);
border: none;
border-bottom: 5px solid #00BCD4;
}
.cp_card04 .details {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding: 1em 1em 0 1em;
font-size: 0.8em;
}
.cp_card04 .date {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
text-align: right;
}
.cp_card04 .category {
-webkit-box-flex: 2;
-ms-flex: 2;
flex: 2;
}
.cp_card04 .category p {
font-size: 0.8em;
padding: 3px 8px;
cursor: pointer;
width: 8em;
margin: 0;
border-radius: 10px;
background: #00BCD4;
text-align: center;
color: #ffffff;
}
.cp_card04 .description {
padding: 0 1em;
}
.cp_card04 .description h1 {
font-size: 1.4em;
margin: 0;
margin-bottom: 0.5em;
}
.cp_card04 .description .text p {
margin: 0;
}
.cp_card04 .description a {
float: right;
margin-bottom: 10px;
text-decoration: none;
color: #00BCD4;
}
.cp_card04 .description a:after {
font-family: FontAwesome;
margin-left: -10px;
content: '\f061';
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
vertical-align: middle;
opacity: 0;
}
.cp_card04 .description a:hover:after {
margin-left: 5px;
opacity: 1;
}


/*ページトップへのアイコン*/
#page_top{
   width: 100px;
   height: 60px;
   position: fixed;
   right: 0;
   bottom: 0;
   background: #ef3f98;
   opacity: 0.6;
   border-radius: 15px;
}
#page_top a{
   position: relative;
   display: block;
   width: 100px;
   height: 60px;
   text-decoration: none;
}
#page_top a::before{
     font-family: 'Font Awesome 5 Free';
     font-weight: 900;
     content: '\f102';
     font-size: 25px;
     color: #fff;
     position: absolute;
     width: 25px;
     height: 25px;
     top: -25px;
     bottom: 0;
     right: 0;
     left: 0;
     margin: auto;
     text-align: center;
}
#page_top a::after{
   content: 'PAGE TOP';
   font-size: 13px;
   color: #fff;
   position: absolute;
   top: 30px;
   bottom: 0;
   right: 0;
   left: 0;
   margin: auto;
   text-align: center;
}
/*フッダー*/
footer{
   background-color: white;
   height: 160px;
   width: 100%;
}
      
/*ロゴ*/
.footer-logo{
   float: left;
   padding: 30px 40px;
}
      
.footer-logo img{
   width: 286px;
   height: 58px;
}
      
/*about*/
.about-list{
   float: right;
   padding: 25px 80px;
}

.about-list li{
   list-style: none;
}
      
.about-list a{
   color: #808080;
   text-decoration: none;
}
      
 .about-list a:hover{
    text-decoration: underline;
 }
 
 /*ログインもろもろ*/
 .login-list{
    float: right;
    padding: 30px 60px;
 }
      
 .login-list li{
    list-style: none;
 }
      
 .login-list a{
    color: #808080;
    text-decoration: none;
 }
      
 .login-list a:hover{
    text-decoration: underline;
 }
 .footer-other small{
    position: absolute;
    bottom: 10px; left: 50%;
 }
      
    /*よくわからないcss*/

    /*ログアウトの入れ子構造*/
    ul > li{
        display: inline-block;
    }
    ul > li > a{
        display: block;
        text-transform: uppercase;
        letter-spacing: .2em;
    }
    ul > li > span{
        margin-left: 1.2em;
    }     
    /* Submenu */
     
    ul li ul{
        position: absolute;
        top: 70px;
        right: 6.5%;
    }
    ul li ul li{
        display: block;
    }
    ul li ul li a{
        background-color: #efefef;
        color: #444;
    }
    ul li ul li a:hover{
        background-color: #ddd;
    }
    header ul li ul{
        display: none;
    }
    header ul li:hover ul{
        display: block;
    }
    /*ここまで*/